<div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <button type="button" class="btn btn-default" (click)="raizCurso()">Voltar</button>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Editar
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div *ngIf="frmCadastro.submitted && frmCadastro.invalid" class="alert alert-warning">
                        Preencha todos os campos obrigatórios
                    </div>

                    <div *ngIf="msgSucesso" class="alert alert-success">
                        <strong>Sucesso!</strong> {{msgSucesso}}
                    </div>
                    <div *ngIf="msgAviso" class="alert alert-warning">
                        <strong>Atenção!</strong> {{msgAviso}}
                    </div>
                    <div *ngIf="msgErro" class="alert alert-danger">
                        <strong>Erro!</strong> {{msgErro}}
                    </div>

                    <form #frmCadastro="ngForm" (ngSubmit) = "salvar(frmCadastro)" >
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Nome</label>
                                    <input 
                                        type="text"
                                        name="nome" 
                                        class="form-control" 
                                        [(ngModel)]="curso.nome" 
                                        #varRefNome="ngModel" 
                                        required 
                                        minlength="5">
                                    <span *ngIf="!varRefNome.valid && varRefNome.touched">O campo nome é obrigatório</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Situação</label>
                                    <select 
                                        name="situacao" 
                                        class="form-control" 
                                        [(ngModel)]="curso.situacao" 
                                        #varRefSituacao="ngModel" 
                                        required>
                                            <option value="AT">Ativo</option>
                                            <option value="IN">Inativo</option>
                                    </select>
                                    <span *ngIf="!varRefSituacao.valid && varRefSituacao.touched">O campo Situação é obrigatório</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <button class="btn btn-default" [disabled]="!frmCadastro.form.valid" type="submit" >Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    
            
    