<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <button type="button" class="btn btn-default" (click)="direcionarParaCadastro()">Novo</button> 
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Listagem
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
              <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables">
                <thead>
                  <tr>
                    <th>Indicador</th>
                    <th>Programa</th>
                    <th>Eixo</th>
                    <th>Tópico</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                    <tbody>
                        <tr *ngFor="let indicador of indicadors">
                            <td><a [routerLink]="['/indicador/editar/', indicador.id]">{{ indicador.titulo }}</a></td>
                            <td>{{ indicador.eixo.autoavaliacao.nome }}</td>
                            <td>{{ indicador.eixo.nome }}</td>
                            <td>{{ indicador.ordem }}</td>
                            <td>
                              <a (click) = "remover(indicador)" class="btn btn-danger btn-xs">Remover</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->