<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <button type="button" class="btn btn-default" (click)="direcionarParaCadastro()">Novo</button> 
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Listagem
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
              <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables">
                <thead>
                  <tr>
                    <th>Nome</th>
                    <th>Curso</th>
                    <th>Situação</th>
                    <th>Início</th>
                    <th>Término</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                    <tbody>
                        <tr *ngFor="let programa of programas">
                            <td><a [routerLink]="['/programa/editar/', programa.id]">{{ programa.nome }}</a></td>
                            <td>{{ programa.curso.nome }}</td>
                            <td>{{ programa.situacao }}</td>
                            <td>{{ programa.inicio | data }}</td>
                            <td>{{ programa.termino | data }}</td>
                            <td>
                              <a (click) = "remover(programa)" class="btn btn-danger btn-xs">Remover</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->