<div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <button type="button" class="btn btn-default" (click)="direcionarParaCadastro()">Novo</button> 
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Listagem
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                  <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables">
                    <thead>
                      <tr>
                        <th>Eixo</th>
                        <th>Programa</th>
                        <th>Situação</th>
                        <th>&nbsp;</th>
                      </tr>
                    </thead>
                        <tbody>
                            <tr *ngFor="let eixo of eixos">
                                <td><a [routerLink]="['/eixo/editar/', eixo.id]">{{ eixo.nome }}</a></td>
                                <td>{{ eixo.autoavaliacao.nome }}</td>
                                <td>{{ eixo.autoavaliacao.situacao }}</td>
                                <td>
                                  <a (click) = "remover(eixo)" class="btn btn-danger btn-xs">Remover</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->