<div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <button type="button" class="btn btn-default" (click)="voltar()">Voltar</button> 
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Cadastro
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <form [formGroup]="FRMcadastro">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Programa</label>
                                    <select formControlName="cod_autoavaliacao" class="form-control">
                                        <option *ngFor="let programa of programas; let i = index" [value]="programa.id">
                                            {{programa.nome}}
                                        </option>
                                    </select>
                                    <sap-vmessage
                                        *ngIf="FRMcadastro.get('cod_autoavaliacao').errors?.required"
                                        mensagem="Obrigatório vincular um Programa ao eixo!">
                                    </sap-vmessage>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Eixo</label>
                                        <input type="text" formControlName="nome" class="form-control" />
                                        <sap-vmessage
                                            *ngIf="FRMcadastro.get('nome').errors?.required"
                                            mensagem="Este campo é obrigatório">
                                        </sap-vmessage>
                                        <sap-vmessage
                                            *ngIf="FRMcadastro.get('nome').errors?.minlength"
                                            mensagem="Insira no mínimo 5 caracteres!">
                                        </sap-vmessage>
                                    </div>
                                </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Descrição</label>
                                    <textarea formControlName="descricao" class="form-control" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <button 
                                    class="btn btn-default" 
                                    (click)="cadastrar()"
                                    [disabled]="FRMcadastro.invalid"
                                    type="submit" >Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->