<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <button type="button" class="btn btn-default" (click)="voltar()">Voltar</button> 
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Cadastro
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <!-- <div *ngIf="frmCadastro.submitted && frmCadastro.invalid" class="alert alert-warning">
                    Preencha todos os campos obrigatórios
                </div> -->
                    <form [formGroup]="FRMcadastro">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Programa</label>
                                <input type="text" formControlName="nome" class="form-control" />
                                <sap-vmessage
                                    *ngIf="FRMcadastro.get('nome').errors?.required"
                                    mensagem="Este campo é obrigatório">
                                </sap-vmessage>
                                <sap-vmessage
                                    *ngIf="FRMcadastro.get('nome').errors?.minlength"
                                    mensagem="Insira no mínimo 5 caracteres!">
                                </sap-vmessage>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Curso</label>
                                <select formControlName="cod_curso" class="form-control">
                                    <option *ngFor="let curso of cursos; let i = index" [value]="curso.id">
                                        {{curso.nome}}
                                    </option>
                                </select>
                                <sap-vmessage
                                    *ngIf="FRMcadastro.get('cod_curso').errors?.required"
                                    mensagem="Obrigatório vincular um curso ao programa!">
                                </sap-vmessage>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Objetivo</label>
                                <textarea formControlName="objetivo" class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Período</label>
                                <input type="date" formControlName="inicio" class="form-control" >
                                <sap-vmessage
                                    *ngIf="FRMcadastro.get('inicio').errors?.required"
                                    mensagem="Obrigatório uma data de início para o programa!">
                                </sap-vmessage>
                            </div>
                            
                            <div class="form-group">
                                <label>Até</label>
                                <input type="date" formControlName="termino" class="form-control" >
                                <sap-vmessage
                                    *ngIf="FRMcadastro.get('termino').errors?.required"
                                    mensagem="Obrigatório uma data de término para o programa!">
                                </sap-vmessage>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <button 
                                class="btn btn-default" 
                                (click)="cadastrar()"
                                [disabled]="FRMcadastro.invalid"
                                type="submit" >Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->