<div class="row">
    <div class="col-lg-6">
        <div [formGroup]="form" class="form-group">
            <label>{{data.titulo}}</label>
            <textarea formControlName="indicador_{{data.id}}" class="form-control" rows="4"></textarea>
        </div>
    </div>
</div>