<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" *ngIf="autenticado()">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/dashboard">Sapep</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a></li>
                    <li class="divider"></li>
                    <li><a href="/autenticacao/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li>
                        <a href="/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="/acoes/listagem"><i class="fa fa-edit fa-fw"></i>Ações</a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="acoes/lancar-dados/listagem">Lançar dados</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/acoes/listagem"><i class="fa fa-bar-chart-o fa-fw"></i>Relatórios</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-table"></i> Cadastros<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="curso/listagem">Cursos</a>
                            </li>
                            <li>
                                <a href="programa/listagem">Programa</a>
                            </li>
                            <li>
                                <a href="eixo/listagem">Eixo</a>
                            </li>
                            <li>
                                <a href="indicador/listagem">Indicador</a>
                            </li>
                            <li>
                                <a href="usuario/listagem">Usuário</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
    <router-outlet></router-outlet>
</div>