<div class="row">
    <div class="col-lg-6">
        <div [formGroup]="form" class="form-group">
            <label>{{data.titulo}}</label>
            <input formControlName="indicador_{{data.id}}" type="number" class="form-control" />
        </div>
    </div>
</div>