
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Acessar o Sapep</h3>
                </div>
                <div class="panel-body">
                    <form role="form" [formGroup]="FRMcadastro" #frmCadastro="ngForm">
                        <div *ngIf="msg" class="alert alert-warning">
                            {{msg}}
                        </div>
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" formControlName="email" placeholder="E-mail" type="email" autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" formControlName="senha" placeholder="Senha" type="password" value="">
                            </div>
                            <button 
                                type="button" class="btn btn-lg btn-success btn-block" 
                                (click)="logar()"
                                [disabled]="FRMcadastro.invalid"
                                >Login
                            </button> 
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
