<div class="row">
  <div class="col-lg-12">
      <div [formGroup]="form" class="form-group">
          
              <div class="table-responsive">
                  <table class="table">
                      <thead>
                          <tr>
                              <th>&nbsp;</th>
                              <th *ngFor="let ano of anos">{{ano}}</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let indicador of data">
                              <td><label>{{indicador.titulo}}</label></td>
                              
                              <td *ngFor="let ano of anos">
                                  <div [formGroup]="form" class="form-group">
                                      <input 
                                            formControlName="indicador_{{indicador.id}}{{ano}}" 
                                            type="number" 
                                            class="form-control" 
                                      />
                                  </div>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
      </div>
  </div>
</div>