<div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <button type="button" class="btn btn-default" (click)="voltar()">Voltar</button> 
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{autoavaliacao?.nome}}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <!-- <div *ngIf="frmCadastro.submitted && frmCadastro.invalid" class="alert alert-warning">
                        Preencha todos os campos obrigatórios
                    </div> -->
                    <form [formGroup]="FRMcadastro">
                        
                        <div class="row">
                            <div class="col-lg-9">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#eixocode_conceito" data-toggle="tab">Conceito</a>
                                    </li>
                                    <li *ngFor="let eixo of autoavaliacao?.eixos">
                                        <a href="#eixocode_{{eixo.id}}" data-toggle="tab">{{eixo.nome}}</a>
                                    </li>
                                </ul>

                                <div class="panel-body">
                                    <div class="tab-content">
                                        <div class="tab-pane fade in active" id="eixocode_conceito">
                                            <div class="form-group">
                                                <label>Curso</label>
                                                <p>{{autoavaliacao?.curso.nome}}</p>
                                            </div>
                                            <div class="form-group">
                                                <label>Objetivos</label>
                                                <p>{{autoavaliacao?.objetivo}}</p>
                                            </div>

                                            <div class="form-group" style="width: 10%">
                                                <label>Conceito</label>
                                                <input type="text" formControlName="conceito" class="form-control" >  
                                            </div>
                                        </div>
                                        <div class="tab-pane fade in" id="eixocode_{{eixo.id}}" *ngFor="let eixo of autoavaliacao?.eixos">
                                            <div class="form-group">
                                                    <ng2-smart-table 
                                                        [settings]="settings"
                                                        [source]="eixo.metas"
                                                        (createConfirm)="criarMeta($event, eixo.id)"
                                                        (editConfirm)="editarMeta($event, eixo.id)"
                                                        (deleteConfirm)="removerMeta($event)"></ng2-smart-table>
                                                </div>
                                            <app-grid 
                                                [form]="FRMcadastro" 
                                                [items]="eixo.indicadoresAgrupados"
                                                [anos]="autoavaliacao.anos"
                                                ></app-grid>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <button 
                                    class="btn btn-default" 
                                    (click)="cadastrar()"
                                    type="submit" >Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->