<div class="row">
    <div class="col-lg-6">
        <div [formGroup]="form">
            <div class="form-group">
                <label>{{data.titulo}}</label>
                <input type="text" formControlName="indicador_{{data.id}}" class="form-control" />
            </div>
        </div>
    </div>
</div>